/* home.component.css */

.tags-bar {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.tags-bar button {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.tags-bar button.active {
  background-color: #007bff; 
  color: #fff; 
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input {
  width: 60%; 
  max-width: 300px; 
  padding: 8px;
  font-size: 0.9em; 
  border: 1px solid #ff4d4d;
  border-radius: 5px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; 
}

li {
  border: 1px solid black;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 220px; 
  transition: background-color 0.3s ease; 
  position: relative; 
}

li:hover {
  background-color: #f0f0f0; 
}

img {
  display: block; 
  margin: 0 auto; 
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.content {
  flex-grow: 1;
  text-align: center; 
}

.name {
  font-size: 1.4em; 
  font-weight: bold;
  margin-bottom: 5px; 
}

.favorite {
  font-size: 1.2em; 
  color: red;
  margin-top: 5px; 
}

.favorite.not {
  color: gray;
}

.product-item-footer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 5px;
}

.origins {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto; 
  margin-bottom: 5px; 
}

.origins span {
  margin-right: 5px;
  padding: 8px;
  background-color: #3498db;
  border-radius: 5px;
  font-size: 0.9em;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.origins span:hover {
  background-color: #2980b9;
}


.cook-time {
  display: flex;
  align-items: center;
}

.price {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 10px; 
}
